<!-- <div class="container">
    <div class="row">
        <!-- Форма Bootstrap, содержащая элемент для поиска по сайту -->
        <form role="search">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="">
                <span class="input-group-btn">
                    <button class="btn btn-info" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </form><!-- Конец формы -->
    </div>
</div> -->